{% extends 'base.html' %}

{% block content %}
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Retazos de Tela</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Consulta de Retazos de Tela</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->

            <div class="mb-3">
                <a href="{% url 'agregar_retazo' %}" class="btn btn-success">
                    <i class="bx bx-plus"></i> Agregar Retazo
                </a>
            </div>

            <h6 class="mb-0 text-uppercase">Lista de Retazos de Tela</h6>
            <hr />

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Rollo</th>
                                    <th>Orden de Producción</th>
                                    <th>Capas Cortadas</th>
                                    <th>Metros Tendidos (m)</th>
                                    <th>Medida Tendido por Capa (m)</th>
                                    <th>Colas (m)</th>
                                    <th>Faltante (m)</th>
                                    <th>Fecha de Registro</th>
                                    <th>Responsable</th>
                                    <th>Observaciones</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if retazos %}
                                    {% for retazo in retazos %}
                                    <tr>
                                        <td>{{ retazo.rollo.tela.nombre }} - {{ retazo.rollo.color }}</td>
                                        <td>
                                            {% if retazo.orden %}
                                                {{ retazo.orden.id }}
                                            {% else %}
                                                <span class="text-muted">Sin Orden</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ retazo.capas_cortadas }}</td>
                                        <td>{{ retazo.metros_tendidos }}</td>
                                        <td>{{ retazo.medida_tendido_mesa|floatformat:2 }}</td>
                                        <td>{{ retazo.colas }}</td>
                                        <td>{{ retazo.faltante }}</td>
                                        <td>{{ retazo.fecha_registro|date:"d/m/Y" }}</td>
                                        <td>{{ retazo.responsable }}</td>
                                        <td>
                                            {% if retazo.observaciones %}
                                                <div class="d-flex justify-content-center">
                                                    <button class="btn btn-sm btn-info " data-bs-toggle="modal" data-bs-target="#observacionModal{{ retazo.id }}">
                                                        Ver
                                                    </button>
                                                </div>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="observacionModal{{ retazo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Observación</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ retazo.observaciones }}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <span class="text-muted">Sin observaciones</span>
                                            {% endif %}
                                        <td>
                                            <a href="{% url 'editar_retazo' retazo.id %}" class="btn btn-sm btn-primary">
                                                <i class="bx bx-edit"></i>
                                            </a>
                                            <button class="btn btn-danger btn-sm delete-retazo" data-id="{{ retazo.id }}">
                                                <i class="bx bx-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="10" class="text-center text-muted">
                                            <i class="bx bx-info-circle" style="font-size: 20px; color: #ff9800;"></i> 
                                            No hay registros de retazos de tela disponibles.
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Rollo</th>
                                    <th>Orden de Producción</th>
                                    <th>Capas Cortadas</th>
                                    <th>Metros Tendidos (m)</th>
                                    <th>Medida Tendido por Capa (m)</th>
                                    <th>Colas (m)</th>
                                    <th>Faltante (m)</th>
                                    <th>Fecha de Registro</th>
                                    <th>Responsable</th>
                                    <th>Observaciones</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end page wrapper -->
    
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    
    <!--Start Back To Top Button--> 
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

{% endblock %}
