{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="page-content">

        <h4 class="mb-3">Detalles de {{ producto.referencia }}</h4>

        <p><strong>Categoría:</strong> {{ producto.categoria.nombre }}</p>
        <p><strong>Género:</strong> {{ producto.genero.nombre }}</p>
        <p><strong>Descripción:</strong> {{ producto.descripcion|default:"Sin descripción" }}</p>

        <hr>

        <h5>Variantes disponibles</h5>
        <table id="tabla-variantes" class="table table-bordered">
            <div class="mb-3">
                <input type="text" id="filtroDiseno" class="form-control w-25" placeholder="Filtrar por diseño...">
            </div>
            <thead>
                <tr>
                    <th>Código de barras</th>
                    <th>Color</th>
                    <th>Talla</th>
                    <th>Diseño</th>
                </tr>
            </thead>
            <tbody>
                {% for variante in variantes %}
                <tr>
                    <td>{{ variante.get_codigo_barra }}</td>
                    <td>{{ variante.color.nombre }}</td>
                    <td>{{ variante.talla.nombre }}</td>
                    <td>
                        {% if variante.diseno.imagen %}
                        <img src="{{ variante.diseno.imagen.url }}" alt="{{ variante.diseno.nombre }}" width="40"
                            height="40" style="border-radius: 5px;">
                        <span class="d-none">{{ variante.diseno.nombre }}</span>
                        {% else %}
                        <span>{{ variante.diseno.nombre }}</span>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'productos' %}" class="btn btn-secondary mt-3">
            <i class="bx bx-arrow-back"></i> Volver
        </a>

    </div>
</div>
<script>
    document.getElementById("filtroDiseno").addEventListener("input", function () {
        const filtro = this.value.toLowerCase();
        const filas = document.querySelectorAll("#tabla-variantes tbody tr");

        filas.forEach(fila => {
            const texto = fila.innerText.toLowerCase();
            if (texto.includes(filtro)) {
                fila.style.display = "";
            } else {
                fila.style.display = "none";
            }
        });
    });
</script>
{% endblock %}