{% extends 'base.html' %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Inventario</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bx bx-home-alt"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'inventario_bodega' %}">Inventario Bodega</a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="col-xl-8 mx-auto">
            <hr />
            <div class="card border-top border-0 border-4 border-primary">
                <div class="card-body p-5">
                    <div class="card-title d-flex align-items-center">
                        <div><i class="bx bx-package me-1 font-22 text-primary"></i></div>
                        <h5 class="mb-0 text-primary">{{ accion }}</h5>
                    </div>
                    <hr>

                    <form method="POST" class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="col-md-6">
                                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="col-12 mt-4">
                            <button type="submit" class="btn btn-success px-5">
                                <i class="bx bx-save"></i> Guardar
                            </button>
                            <a href="{% url 'inventario_bodega' %}" class="btn btn-secondary px-5">
                                <i class="bx bx-arrow-back"></i> Cancelar
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
            'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
</script>
{% endblock %}
