{% extends 'base.html' %}

{% block content %}
<div class="page-wrapper">
    <div class="page-content">

        <!-- Breadcrumb -->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Ventas</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bx bx-home-alt"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'lista_ventas' %}">Lista de Ventas</a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Formulario -->
        <div class="col-xl-10 mx-auto">
            <hr />
            <div class="card border-top border-0 border-4 border-primary">
                <div class="card-body p-5">
                    <div class="card-title d-flex align-items-center">
                        <div><i class="bx bx-cart me-1 font-22 text-primary"></i></div>
                        <h5 class="mb-0 text-primary">{{ accion }} Venta</h5>
                    </div>
                    <hr>

                    <form method="POST" class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <!-- Campos del formulario principal -->
                        <div class="col-md-6">
                            <label class="form-label" for="{{ form.local.id_for_label }}">{{ form.local.label|safe }}</label>
                            {{ form.local }}
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="{{ form.vendedor.id_for_label }}">{{ form.vendedor.label|safe }}</label>
                            {{ form.vendedor }}
                        </div>
                        
                        <div class="col-md-6">
                            <label class="form-label" for="{{ form.cliente.id_for_label }}">{{ form.cliente.label|safe }}</label>
                            <div class="d-flex align-items-center">
                                {{ form.cliente }}
                                <button type="button" class="btn btn-outline-info btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#modalCliente" title="Agregar nuevo cliente">
                                    <i class="bx bx-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="{{ form.fecha.id_for_label }}">{{ form.fecha.label|safe }}</label>
                            {{ form.fecha }}
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="{{ form.metodo_pago.id_for_label }}">{{ form.metodo_pago.label|safe }}</label>
                            {{ form.metodo_pago }}
                            <div class="invalid-feedback">
                                Selecciona un método de pago válido.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" for="{{ form.estado.id_for_label }}">{{ form.estado.label|safe }}</label>
                            {{ form.estado }}
                        </div>


                        <div id="detalle-venta-section" style="display:none;">
                            <hr class="mt-4 mb-3">
                            <h5 class="text-secondary">Detalle de la Venta</h5>

                            {{ formset.management_form }}
                            <div id="formset-container">
                                {% for form in formset.forms %}
                                    <div class="row border rounded p-3 mb-2 formset-form">
                                        <div class="col-md-4">
                                            <label for="id_variante" class="form-label">{{ form.variante.label|safe }}</label>
                                            {{ form.variante }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">{{ form.cantidad.label|safe }}</label>
                                            {{ form.cantidad }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">{{ form.vr_unidad.label|safe }}</label>
                                            {{ form.vr_unidad }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">{{ form.descuento_item.label|safe }}</label>
                                            {{ form.descuento_item }}
                                        </div>
                                        <div class="col-md-3 d-flex align-items-end">
                                            <button type="button" class="btn btn-danger btn-sm remove-form-btn ms-2">
                                                <i class="bx bx-x"></i> Eliminar
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="col-12">
                                <button type="button" class="btn btn-secondary mb-3" id="add-form-btn">
                                    <i class="bx bx-plus"></i> Agregar otra variante
                                </button>
                            </div>
                        </div>

                        <!-- Botones -->
                        <div class="col-12 mt-2">
                            <button type="submit" class="btn btn-success px-5">
                                <i class="bx bx-save"></i> Guardar
                            </button>
                            <a href="{% url 'lista_ventas' %}" class="btn btn-secondary px-5">
                                <i class="bx bx-arrow-back"></i> Cancelar
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCliente" tabindex="-1" aria-labelledby="modalClienteLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content border-top border-0 border-4 border-info">
                <div class="modal-header">
                    <h5 class="modal-title text-info">Agregar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body" id="modalClienteBody">
                    <!-- formulario vía AJAX -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Volver</button>
                    <button type="submit" id="submitAddCliente" class="btn btn-info">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="url-obtener-variantes" value="{% url 'obtener_variantes' %}">
<input type="hidden" id="placeholder-variante" value="Seleccione un producto">

{% load static %}
<script src="{% static 'js/cuentas/cuentas.js' %}"></script>
<script src="{% static 'js/ventas.js' %}"></script>
{% endblock %}
